.container {
  border: 1px solid black;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: red;
    font-size: 2em;
  }
  #small {
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  body {
    background-color: green;
    font-size: 1.2em;
  }
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #small {
    width: 33%;
  }
  #medium {
    width: 67%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: blue;
    font-size: 0.8em;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
}
