.container {
  border: 1px solid black;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: red;
    font-size: 2em;
  }
  #small {
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  body {
    background-color: green;
    font-size: 1.2em;
  }
  .container {
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr auto;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: blue;
    font-size: 0.8em;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
}
